extends ./layout/_page.pug

block vars
  -
    var page = pages.index;

block content
  .p-sketch-index
    each item in pages
      if (item.title !== '')
        .p-sketch-index__item
          a(href = `/sketch-threejs${item.path}`).p-sketch-index__item-wrap
            .p-sketch-index__item-thumb
              img(src=`./img/index/thumb_${item.id}.jpg`, alt="")
            .p-sketch-index__item-title
              |#{item.title}
            .p-sketch-index__item-date
            |posted: #{item.posted} 
            if (item.update)
              |/ update: #{item.update}
